[{
  "_id": {
    "$oid": "6311594daa3a4a58c00cebac"
  },
  "swaggerSpec": {
    "openapi": "3.0.1",
    "info": {
      "description": "Notification Service documentation.",
      "contact": {
        "name": "API Support",
        "email": "circles-notification@circles.asia"
      },
      "version": "v2",
      "title": "Notification Service API"
    },
    "servers": [
      {
        "url": "//sg-notify.circles.asia/"
      }
    ],
    "tags": null,
    "paths": {
      "/health": {
        "get": {
          "responses": {
            "200": {
              "content": {}
            },
            "502": {
              "description": "Bad Gateway",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "Health"
          ],
          "summary": "Check health of notification service",
          "description": "Check health of notification service"
        }
      },
      "/api/v1/{tenant}/{country}/notification": {
        "post": {
          "responses": {
            "202": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          },
          "x-codegen-request-body-name": "NotificationRequest",
          "tags": [
            "AcceptNotification"
          ],
          "summary": "Send notification to user",
          "description": "Send notification to user",
          "parameters": [
            {
              "in": "header",
              "description": "team key authorization header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "teamKey"
            },
            {
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path"
            },
            {
              "description": "country",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "country",
              "in": "path"
            }
          ],
          "requestBody": {
            "description": "Payload",
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/request.NotificationRequest"
                }
              }
            },
            "required": true
          }
        }
      },
      "/api/v1/{tenant}/notification/admin/logs": {
        "get": {
          "tags": [
            "GetNotificationLogs"
          ],
          "summary": "Get logs of notifications sent by various filters",
          "description": "Get logs of notifications sent by various filters",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true
            },
            {
              "description": "sSearchStr",
              "schema": {
                "type": "string"
              },
              "name": "sSearchStr",
              "in": "query"
            },
            {
              "name": "sSearchType",
              "in": "query",
              "description": "sSearchType",
              "schema": {
                "type": "string"
              }
            },
            {
              "schema": {
                "type": "boolean"
              },
              "name": "bRegex",
              "in": "query",
              "description": "bRegex"
            },
            {
              "name": "iPeriod",
              "in": "query",
              "description": "iPeriod",
              "schema": {
                "type": "string"
              }
            },
            {
              "description": "isortCol",
              "schema": {
                "type": "string"
              },
              "name": "isortCol",
              "in": "query"
            },
            {
              "name": "isortDir",
              "in": "query",
              "description": "isortDir",
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "description": "idisplayStart",
              "schema": {
                "type": "string"
              },
              "name": "idisplayStart"
            },
            {
              "name": "idisplayLength",
              "in": "query",
              "description": "idisplayLength",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notification/history/push": {
        "put": {
          "summary": "Set the status of push notifications to read",
          "description": "Set the status of push notifications to read. Identifier is always userId.",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "User-Id",
              "in": "header",
              "description": "user_id as a header"
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true
            },
            {
              "description": "country",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "country",
              "in": "path"
            },
            {
              "description": "locale",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "locale",
              "in": "path"
            },
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "SetReadStatusV2"
          ]
        }
      },
      "/api/v1/{tenant}/notification/{identifier}/history/push": {
        "put": {
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "identifier",
              "in": "path",
              "description": "identifier"
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "SetReadStatus"
          ],
          "summary": "Set the status of push notifications to read",
          "description": "Set the status of push notifications to read. Identifier can be either email/userId/mobileNo."
        }
      },
      "/api/v1/{tenant}/notification/{event_id}/event/history": {
        "get": {
          "tags": [
            "GetEventHistory"
          ],
          "summary": "Get the history sms, email, push, internal for a particular event id",
          "description": "Get the history sms, email, push, internal for a particular event id",
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "event_id",
              "in": "path",
              "description": "event_id"
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/response.EventHistoryResponse"
                  }
                }
              },
              "description": "OK"
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notifications/activities": {
        "patch": {
          "summary": "Update an activity",
          "description": "Update a  Notification activity.",
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "UpdateActivity"
          ]
        },
        "get": {
          "tags": [
            "GetAllActivityNames"
          ],
          "summary": "Get all activity names",
          "description": "Get All Notification activity names in the system.",
          "parameters": [
            {
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          }
        },
        "post": {
          "summary": "Create an activity",
          "description": "Create a  Notification activity.",
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "201": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "CreateActivity"
          ]
        }
      },
      "/api/v1/{country}/en/{tenant}/notifications/metadata": {
        "get": {
          "tags": [
            "getMetadata"
          ],
          "summary": "get metadata for team",
          "description": "get metadata for team",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "name": "teamKey",
              "in": "query",
              "description": "team key query param ?search=teamKey=={key}",
              "required": true
            },
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "description": "country",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "country"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "response.StdResponse": {
                        "swagger_ref": "#/components/schemas/response.StdResponse"
                      },
                      "result": {
                        "swagger_ref": "#/components/schemas/response.ActivityMetadataResp"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}/assets": {
        "post": {
          "description": "Upload an asset to an activity",
          "parameters": [
            {
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "UploadAsset"
          ],
          "summary": "Upload an asset to an activity"
        },
        "delete": {
          "description": "Delete an asset of an activity",
          "parameters": [
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path",
              "description": "tenant"
            }
          ],
          "responses": {
            "204": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Not Found"
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "DeleteAsset"
          ],
          "summary": "Delete an asset of an activity"
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}": {
        "get": {
          "tags": [
            "GetActivity"
          ],
          "summary": "Get activity details",
          "description": "Get All the details of the Notification activity.",
          "parameters": [
            {
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path"
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "responses": {
            "204": {
              "content": {}
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "tags": [
            "DeleteActivity"
          ],
          "summary": "Delete an activity",
          "description": "Delete a Notification activity.",
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ]
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notification/history": {
        "get": {
          "tags": [
            "GetHistoryLogsV2"
          ],
          "summary": "Get history logs of notifications version 2",
          "description": "Get History logs by various filters. Identifier is always userId.",
          "parameters": [
            {
              "in": "header",
              "description": "user_id as a header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "User-Id"
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "country",
              "in": "path",
              "description": "country",
              "required": true
            },
            {
              "name": "locale",
              "in": "path",
              "description": "locale",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true
            },
            {
              "name": "push",
              "in": "query",
              "description": "push",
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "description": "email",
              "schema": {
                "type": "string"
              },
              "name": "email"
            },
            {
              "name": "sms",
              "in": "query",
              "description": "sms",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "reset_timestamp",
              "in": "query",
              "description": "reset_timestamp",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "iPeriod",
              "in": "query",
              "description": "iPeriod",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "isortCol",
              "in": "query",
              "description": "isortCol",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "isortDir",
              "in": "query",
              "description": "isortDir",
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "description": "idisplayStart",
              "schema": {
                "type": "string"
              },
              "name": "idisplayStart"
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "idisplayLength",
              "in": "query",
              "description": "idisplayLength"
            },
            {
              "in": "query",
              "description": "hideBackgroundNotifications",
              "schema": {
                "type": "boolean"
              },
              "name": "hideBackgroundNotifications"
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v1/{country}/en/{tenant}/notification": {
        "post": {
          "responses": {
            "202": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "NotificationRequest",
          "tags": [
            "AcceptNotification"
          ],
          "summary": "Send notification to user",
          "description": "Send notification to user",
          "parameters": [
            {
              "name": "teamKey",
              "in": "header",
              "description": "team key authorization header",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path",
              "description": "tenant"
            },
            {
              "name": "country",
              "in": "path",
              "description": "country",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Payload",
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/request.NotificationRequest"
                }
              }
            },
            "required": true
          }
        }
      },
      "/api/v1/{tenant}/notification/user/{identifier}/options": {
        "get": {
          "tags": [
            "GetUserOptions"
          ],
          "summary": "Get Notification options for user",
          "description": "Get Notification options for a user from Mongo. Identifier can be either email/userId/mobileNo.",
          "parameters": [
            {
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant",
              "in": "path"
            },
            {
              "name": "identifier",
              "in": "path",
              "description": "identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "202": {
              "content": {}
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "PostUserOptions"
          ],
          "summary": "Send notification options to the service",
          "description": "Send notification options to the service and store in Mongo DB. Identifier can be either email/userId/mobileNo.",
          "parameters": [
            {
              "name": "tenant",
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "identifier",
              "in": "path",
              "description": "identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/request.UserOptionsRequest"
                }
              }
            },
            "required": true,
            "description": "Payload"
          },
          "responses": {
            "202": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          },
          "x-codegen-request-body-name": "UserOptionsRequest"
        }
      },
      "/api/v1/{tenant}/notification/{identifier}/history": {
        "get": {
          "tags": [
            "GetHistoryLogs"
          ],
          "summary": "Get history logs of notifications",
          "description": "Get History logs by various filters. Identifier can be either email/userId/mobileNo.",
          "parameters": [
            {
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant"
            },
            {
              "name": "identifier",
              "in": "path",
              "description": "identifier",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "push",
              "in": "query",
              "description": "push",
              "schema": {
                "type": "string"
              }
            },
            {
              "description": "email",
              "schema": {
                "type": "string"
              },
              "name": "email",
              "in": "query"
            },
            {
              "name": "sms",
              "in": "query",
              "description": "sms",
              "schema": {
                "type": "string"
              }
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "reset_timestamp",
              "in": "query",
              "description": "reset_timestamp"
            },
            {
              "description": "iPeriod",
              "schema": {
                "type": "string"
              },
              "name": "iPeriod",
              "in": "query"
            },
            {
              "description": "isortCol",
              "schema": {
                "type": "string"
              },
              "name": "isortCol",
              "in": "query"
            },
            {
              "in": "query",
              "description": "isortDir",
              "schema": {
                "type": "string"
              },
              "name": "isortDir"
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "idisplayStart",
              "in": "query",
              "description": "idisplayStart"
            },
            {
              "name": "idisplayLength",
              "in": "query",
              "description": "idisplayLength",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {}
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          }
        }
      },
      "/{version}/{country}/{locale}/{tenant}/notifications/webhook": {
        "post": {
          "summary": "Accept webhook notifications from CleverTap",
          "description": "Accept webhook notifications from CleverTap",
          "parameters": [
            {
              "description": "team key authorization header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "teamKey",
              "in": "header"
            },
            {
              "schema": {
                "type": "string"
              },
              "name": "version",
              "in": "path",
              "description": "version",
              "required": true
            },
            {
              "description": "country",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "country",
              "in": "path"
            },
            {
              "name": "locale",
              "in": "path",
              "description": "locale",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "description": "tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "name": "tenant"
            }
          ],
          "requestBody": {
            "description": "Payload",
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/request.WebHookNotificationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "202": {
              "content": {}
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/model.ErrorResponse"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "WebHookNotificationRequest",
          "tags": [
            "AcceptWebHookNotification"
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "response.ErrorResponse": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "example": "status bad request"
            },
            "title": {
              "type": "string",
              "example": "400"
            },
            "code": {
              "type": "integer",
              "example": 400
            }
          }
        },
        "request.NotificationRequest": {
          "type": "object",
          "properties": {
            "sms_sender_number": {
              "type": "string"
            },
            "activity_id": {
              "type": "string"
            },
            "attachments": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/request.Attachment"
              }
            },
            "identifier_value": {
              "type": "string"
            },
            "payload": {
              "properties": {},
              "type": "object"
            },
            "identifier_key": {
              "type": "string"
            },
            "locale": {
              "type": "string"
            },
            "priority": {
              "type": "string"
            },
            "additional_identifiers": {
              "swagger_ref": "#/components/schemas/request.AdditionalIdentifier"
            },
            "client_id": {
              "type": "string"
            }
          }
        },
        "response.Transport": {
          "type": "object",
          "properties": {
            "required": {
              "type": "boolean"
            },
            "type": {
              "type": "string"
            }
          }
        },
        "request.Profile": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string"
            },
            "identity": {
              "type": "string"
            },
            "key_values": {
              "swagger_ref": "#/components/schemas/request.KeyValue"
            }
          }
        },
        "request.WebHookNotificationRequest": {
          "properties": {
            "profiles": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/request.Profile"
              }
            }
          },
          "type": "object"
        },
        "request.KeyValue": {
          "type": "object",
          "properties": {
            "activity": {
              "type": "string"
            }
          }
        },
        "response.PayloadMetadata": {
          "type": "object",
          "properties": {
            "minValue": {
              "type": "number"
            },
            "precision": {
              "type": "integer"
            },
            "regex": {
              "type": "string"
            },
            "datatype": {
              "type": "string"
            },
            "key": {
              "type": "string"
            },
            "maxLength": {
              "type": "integer"
            },
            "maxValue": {
              "type": "number"
            },
            "minLength": {
              "type": "integer"
            }
          }
        },
        "response.StdResponse": {
          "type": "object",
          "properties": {
            "debug": {
              "type": "object",
              "properties": {}
            },
            "failure": {
              "swagger_ref": "#/components/schemas/response.ErrorResponse"
            },
            "result": {
              "type": "object",
              "properties": {}
            },
            "success": {
              "type": "boolean"
            }
          }
        },
        "request.Attachment": {
          "type": "object",
          "properties": {
            "file_location": {
              "type": "string"
            },
            "file_name": {
              "type": "string"
            },
            "file_path": {
              "type": "string"
            }
          }
        },
        "request.UserOptionsRequest": {
          "type": "object",
          "properties": {
            "options": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "response.ActivityMetadataResp": {
          "type": "object",
          "properties": {
            "transports": {
              "items": {
                "swagger_ref": "#/components/schemas/response.Transport"
              },
              "type": "array"
            },
            "id": {
              "type": "string"
            },
            "metadata": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/response.PayloadMetadata"
              }
            }
          }
        },
        "model.ErrorResponse": {
          "type": "object",
          "properties": {
            "code": {
              "type": "integer",
              "example": 400
            },
            "message": {
              "type": "string",
              "example": "status bad request"
            },
            "object": {
              "type": "string",
              "example": "error"
            }
          }
        },
        "request.AdditionalIdentifier": {
          "properties": {
            "email": {
              "type": "string"
            },
            "mobile": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.PushMessage": {
          "properties": {
            "text": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "content": {
              "type": "object",
              "properties": {}
            },
            "image_preview": {
              "type": "string"
            },
            "link": {
              "type": "string"
            },
            "media-url": {
              "type": "string"
            },
            "mime_type": {
              "type": "string"
            },
            "subtitle": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.EventHistoryResponse": {
          "type": "object",
          "properties": {
            "internal_body": {
              "type": "string"
            },
            "internal_email": {
              "type": "string"
            },
            "internal_subject": {
              "type": "string"
            },
            "push_message": {
              "swagger_ref": "#/components/schemas/model.PushMessage"
            },
            "sms_message": {
              "type": "string"
            },
            "email_body": {
              "type": "string"
            },
            "email_subject": {
              "type": "string"
            },
            "event_id": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "version": "1.0.0",
  "serviceRef": {
    "$oid": "6311594daa3a4a58c00cebab"
  },
  "ownerRef": {
    "$oid": "63113b9c2644cc400660ac83"
  },
  "endpts": [
    {
      "endptRegex": "/api/v1/{tenant}/notification/user/{identifier}/options",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/notification/user/{identifier}/options",
      "method": "POST"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notification/history/push",
      "method": "PATCH"
    },
    {
      "endptRegex": "/api/v1/{country}/en/{tenant}/notifications/metadata",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/notification/{identifier}/history",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/notification/{identifier}/history/push",
      "method": "PATCH"
    },
    {
      "endptRegex": "/health",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/notification/admin/logs",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/notification/{event_id}/event/history",
      "method": "GET"
    },
    {
      "endptRegex": "/api/v1/{tenant}/{country}/notification",
      "method": "POST"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities",
      "method": "PATCH"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities",
      "method": "GET"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities",
      "method": "POST"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}",
      "method": "DELETE"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}",
      "method": "GET"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/webhook",
      "method": "POST"
    },
    {
      "endptRegex": "/api/v1/{country}/en/{tenant}/notification",
      "method": "POST"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notification/history",
      "method": "GET"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}/assets",
      "method": "POST"
    },
    {
      "endptRegex": "/{version}/{country}/{locale}/{tenant}/notifications/activities/{activity_name}/assets",
      "method": "DELETE"
    }
  ],
  "createdAt": {
    "$date": {
      "$numberLong": "1662081357746"
    }
  },
  "updatedAt": {
    "$date": {
      "$numberLong": "1662081357746"
    }
  }
},{
  "_id": {
    "$oid": "6311594daa3a4a58c00cebae"
  },
  "swaggerSpec": {
    "servers": [
      {
        "url": "http://sgqwallet.circles.asia/v1/{tenant}/wallet"
      }
    ],
    "tags": null,
    "components": {
      "schemas": {
        "validator.CommitTransactionRequest": {
          "properties": {
            "currency_amt": {
              "type": "integer"
            },
            "txn_ref_id": {
              "type": "string"
            },
            "txn_remark": {
              "type": "string"
            },
            "txn_type": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.GetLedgerResponse": {
          "properties": {
            "balance": {
              "swagger_ref": "#/components/schemas/validator.WalletTypeBalances"
            },
            "customer_id": {
              "type": "string"
            },
            "wallet_txns": {
              "items": {
                "swagger_ref": "#/components/schemas/validator.TransactionsResponse"
              },
              "type": "array"
            },
            "wallet_type": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.InitWalletResponse": {
          "properties": {
            "customer_id": {
              "type": "string"
            },
            "wallet_type": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.TransactionsResponse": {
          "properties": {
            "txn_ts": {
              "type": "integer"
            },
            "txn_type": {
              "type": "string"
            },
            "txn_amount": {
              "type": "integer"
            },
            "txn_ref_id": {
              "type": "string"
            },
            "txn_remark": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.ErrorResponse": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string"
            },
            "object": {
              "type": "string"
            },
            "code": {
              "type": "integer"
            }
          }
        },
        "validator.WalletInitRequest": {
          "properties": {
            "wallet_type": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.WalletTypeBalances": {
          "type": "object",
          "properties": {
            "wallet_type": {
              "type": "string"
            },
            "available_bal": {
              "type": "integer"
            },
            "currency_symbol": {
              "type": "string"
            },
            "expired_bal": {
              "type": "integer"
            },
            "redeemable_bal": {
              "type": "integer"
            }
          }
        },
        "validator.ExistResponse": {
          "properties": {
            "exist": {
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "validator.InitTransactionResponse": {
          "properties": {
            "customer_id": {
              "type": "string"
            },
            "txn_ref_id": {
              "type": "string"
            },
            "valid_till": {
              "type": "integer"
            }
          },
          "type": "object"
        },
        "validator.CommitTransactionResponse": {
          "properties": {
            "txn_ref_id": {
              "type": "string"
            },
            "txn_status": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "validator.GetBalancesResponse": {
          "properties": {
            "wallets": {
              "items": {
                "swagger_ref": "#/components/schemas/validator.WalletTypeBalances"
              },
              "type": "array"
            },
            "cust_id": {
              "type": "string"
            }
          },
          "type": "object"
        }
      }
    },
    "info": {
      "license": {
        "name": "Copyright (C) Liberty Wireless Pte Ltd - All Rights Reserved"
      },
      "title": "Circle Wallet Service API",
      "version": "1.0",
      "contact": {
        "email": "brw@circles.asia",
        "name": "API Support"
      },
      "description": "Circle Wallet Service API documentation."
    },
    "openapi": "3.0.1",
    "paths": {
      "/{CustomerId}/ledger/{WalletType}": {
        "get": {
          "description": "Get balances for all or given wallet type of customer",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true
            },
            {
              "description": "Tenant",
              "in": "path",
              "name": "Tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "WalletType",
              "in": "path",
              "name": "WalletType"
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.GetLedgerResponse"
                  }
                }
              },
              "description": "OK"
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "401": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Unauthorized"
            }
          },
          "summary": "Get ledger for all or given wallet type of customer"
        }
      },
      "/{CustomerId}/transaction/initiate": {
        "get": {
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.InitTransactionResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          },
          "summary": "Initiate transaction for the giver customer id",
          "description": "Initiate transaction for the giver customer id",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true
            },
            {
              "in": "path",
              "name": "Tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Tenant"
            }
          ]
        }
      },
      "/{CustomerId}/{WalletType}/exist": {
        "get": {
          "parameters": [
            {
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "Tenant",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Tenant"
            },
            {
              "description": "WalletType",
              "in": "path",
              "name": "WalletType",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ExistResponse"
                  }
                }
              },
              "description": "OK"
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              }
            }
          },
          "summary": "Check if wallet exist for given customer id",
          "description": "Check if wallet exist for given customer id"
        }
      },
      "/{CustomerId}/{WalletType}/transaction/commit": {
        "post": {
          "x-codegen-request-body-name": "CommitTransactionRequest",
          "description": "Commit a Transaction Using Txn Ref Id",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true
            },
            {
              "description": "Tenant",
              "in": "path",
              "name": "Tenant",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "schema": {
                "type": "string"
              },
              "description": "WalletType",
              "in": "path",
              "name": "WalletType",
              "required": true
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/validator.CommitTransactionRequest"
                }
              }
            },
            "description": "Payload",
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.CommitTransactionResponse"
                  }
                }
              },
              "description": "OK"
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              }
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          },
          "summary": "Commit a Transaction"
        }
      },
      "/{CustomerId}/bal": {
        "get": {
          "parameters": [
            {
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "schema": {
                "type": "string"
              },
              "description": "Tenant",
              "in": "path",
              "name": "Tenant",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.GetBalancesResponse"
                  }
                }
              },
              "description": "OK"
            },
            "400": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Bad Request"
            },
            "401": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Unauthorized"
            }
          },
          "summary": "Get balances for all or given wallet type of customer",
          "description": "Get balances for all or given wallet type of customer"
        }
      },
      "/{CustomerId}/init": {
        "put": {
          "description": "Initialize a wallet of given wallet type",
          "parameters": [
            {
              "schema": {
                "type": "string"
              },
              "description": "Customer Id",
              "in": "path",
              "name": "CustomerId",
              "required": true
            },
            {
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Tenant",
              "in": "path",
              "name": "Tenant"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "swagger_ref": "#/components/schemas/validator.WalletInitRequest"
                }
              }
            },
            "description": "Payload"
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.InitWalletResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Unauthorized"
            },
            "409": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Conflict"
            },
            "500": {
              "content": {
                "application/json": {
                  "schema": {
                    "swagger_ref": "#/components/schemas/validator.ErrorResponse"
                  }
                }
              },
              "description": "Internal Server Error"
            }
          },
          "summary": "Initialize a wallet of given wallet type",
          "x-codegen-request-body-name": "WalletInitRequest"
        }
      }
    }
  },
  "version": "1.0.0",
  "serviceRef": {
    "$oid": "6311594daa3a4a58c00cebad"
  },
  "ownerRef": {
    "$oid": "63113b9c2644cc400660ac83"
  },
  "endpts": [
    {
      "endptRegex": "/{CustomerId}/transaction/initiate",
      "method": "GET"
    },
    {
      "endptRegex": "/{CustomerId}/{WalletType}/exist",
      "method": "GET"
    },
    {
      "endptRegex": "/{CustomerId}/{WalletType}/transaction/commit",
      "method": "POST"
    },
    {
      "endptRegex": "/{CustomerId}/bal",
      "method": "GET"
    },
    {
      "endptRegex": "/{CustomerId}/init",
      "method": "PATCH"
    },
    {
      "endptRegex": "/{CustomerId}/ledger/{WalletType}",
      "method": "GET"
    }
  ],
  "createdAt": {
    "$date": {
      "$numberLong": "1662081357836"
    }
  },
  "updatedAt": {
    "$date": {
      "$numberLong": "1662081357836"
    }
  }
},{
  "_id": {
    "$oid": "6311594daa3a4a58c00cebb0"
  },
  "swaggerSpec": {
    "components": {
      "schemas": {
        "model.SearchSubCategoryResponseModel": {
          "properties": {
            "category_id": {
              "type": "string"
            },
            "category_name": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.Trigger": {
          "type": "object",
          "properties": {
            "value": {
              "type": "string"
            },
            "triggerType": {
              "type": "string"
            }
          }
        },
        "model.CreateLimitRequestModel": {
          "properties": {
            "country": {
              "type": "string"
            },
            "monthly_limit": {
              "type": "number"
            },
            "name": {
              "type": "string"
            },
            "per_waiver_limit": {
              "type": "number"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.Button": {
          "type": "object",
          "properties": {
            "title": {
              "type": "string"
            },
            "actionType": {
              "type": "string"
            },
            "actionValue": {
              "type": "string"
            }
          }
        },
        "response.HttpResponseBody": {
          "properties": {
            "success": {
              "type": "boolean"
            },
            "debug": {
              "properties": {
                "requestId": {
                  "type": "string"
                },
                "responseTime": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "failure": {
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "problems": {
                  "additionalProperties": {
                    "swagger_ref": "#/components/schemas/response.Problem"
                  },
                  "type": "object"
                },
                "title": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "result": {
              "properties": {
                "ackId": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "model.CreateSubCategoryResponseModel": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "subcategory": {
              "swagger_ref": "#/components/schemas/model.CreateSubCategoryRequestModel"
            }
          }
        },
        "queue.MNOMWHeader": {
          "type": "object",
          "properties": {
            "externalRefId": {
              "type": "string"
            },
            "roamingType": {
              "type": "string"
            },
            "serviceRoutingKey": {
              "type": "string"
            },
            "settingType": {
              "type": "string"
            },
            "correlationId": {
              "type": "string"
            },
            "operation": {
              "type": "string"
            },
            "requestId": {
              "type": "string"
            },
            "accountNumber": {
              "type": "string"
            },
            "ackRoutingKey": {
              "type": "string"
            },
            "srDate": {
              "type": "string"
            },
            "MSISDN": {
              "type": "string"
            }
          }
        },
        "request.PlanChangeEligibilityParams": {
          "properties": {
            "account_number": {
              "type": "string"
            },
            "destination_plan_id": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "queue.MHLRVASMaintenanceRequestMessage": {
          "type": "object",
          "properties": {
            "header": {
              "swagger_ref": "#/components/schemas/queue.MNOMWHeader"
            },
            "message": {
              "swagger_ref": "#/components/schemas/queue.MHLRVASMaintenanceRequestBody"
            }
          }
        },
        "model.CreateLevelRequestModel": {
          "properties": {
            "country": {
              "type": "string"
            },
            "limit_id": {
              "type": "string"
            },
            "max_waiver_amount": {
              "type": "number"
            },
            "name": {
              "type": "string"
            },
            "next_level": {
              "type": "string"
            },
            "waived_amount": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "request.SetRoamingOptionRequestModel": {
          "properties": {
            "sin": {
              "type": "string"
            },
            "iccid": {
              "type": "string"
            },
            "imsi": {
              "type": "string"
            },
            "override": {
              "type": "string"
            },
            "phoneNumber": {
              "type": "string"
            },
            "prefix": {
              "type": "string"
            },
            "productId": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.DropDownField": {
          "properties": {
            "id": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.CreateCountryApproverResponseModel": {
          "type": "object",
          "properties": {
            "country_approver": {
              "swagger_ref": "#/components/schemas/model.CreateCountryApproverRequestModel"
            },
            "id": {
              "type": "string"
            }
          }
        },
        "response.NotificationsLogsResult": {
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/mongo.NotificationLogResponseModel"
              }
            },
            "total": {
              "type": "integer"
            }
          },
          "type": "object"
        },
        "datastore.CustomerAccountRequestModel": {
          "properties": {
            "requestId": {
              "type": "string"
            },
            "requestPayload": {
              "swagger_ref": "#/components/schemas/bson.M"
            },
            "accountNumber": {
              "type": "string"
            },
            "attributeId": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "createdAt": {
              "type": "string"
            },
            "operationId": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "updatedAt": {
              "type": "string"
            },
            "executeAt": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "datastore.AuditLogModel": {
          "properties": {
            "updatedAt": {
              "type": "string"
            },
            "actions": {
              "items": {
                "swagger_ref": "#/components/schemas/datastore.Action"
              },
              "type": "array"
            },
            "accountDetails": {
              "properties": {},
              "type": "object"
            },
            "createdAt": {
              "type": "string"
            },
            "destinationIdentifier": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "subStatus": {
              "type": "string"
            },
            "requestType": {
              "type": "string"
            },
            "requestId": {
              "type": "string"
            },
            "errorId": {
              "type": "string"
            },
            "sourceIdentifier": {
              "type": "string"
            },
            "msisdn": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "accountNumber": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.SearchCategoryResponseModel": {
          "type": "object",
          "properties": {
            "waived_amount": {
              "type": "number"
            },
            "country": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "limit_id": {
              "type": "string"
            },
            "monthly_limit": {
              "type": "number"
            },
            "name": {
              "type": "string"
            },
            "per_waiver_limit": {
              "type": "number"
            }
          }
        },
        "request.AccountStateChangeEligibilityParams": {
          "properties": {
            "accountNumber": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.Survey": {
          "properties": {
            "customerClass": {
              "type": "string"
            },
            "latestComponentId": {
              "type": "integer"
            },
            "notifyCustomerPercent": {
              "type": "integer"
            },
            "exit": {
              "swagger_ref": "#/components/schemas/response.Section"
            },
            "id": {
              "type": "string"
            },
            "sections": {
              "items": {
                "swagger_ref": "#/components/schemas/response.Section"
              },
              "type": "array"
            },
            "triggers": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/response.Trigger"
              }
            },
            "end": {
              "swagger_ref": "#/components/schemas/response.Section"
            },
            "required": {
              "type": "boolean"
            },
            "start": {
              "swagger_ref": "#/components/schemas/response.Section"
            }
          },
          "type": "object"
        },
        "response.Footer": {
          "properties": {
            "dismissButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "text": {
              "type": "string"
            },
            "actionButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "backButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "buttons": {
              "items": {
                "swagger_ref": "#/components/schemas/response.Button"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "response.RequestAcknowledgementResponse": {
          "type": "object",
          "properties": {
            "publishId": {
              "type": "string"
            },
            "scheduleId": {
              "type": "string"
            },
            "traceId": {
              "type": "string"
            }
          }
        },
        "response.GetRoamingLogItemResponseModel": {
          "properties": {
            "params": {
              "swagger_ref": "#/components/schemas/queue.MHLRVASMaintenanceRequestMessage"
            },
            "requestId": {
              "type": "string"
            },
            "serviceInstanceNumber": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "trace": {
              "properties": {},
              "type": "object"
            },
            "ts": {
              "type": "integer"
            },
            "type": {
              "type": "string"
            },
            "_id": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.Problem": {
          "properties": {
            "message": {
              "type": "string"
            },
            "code": {
              "type": "string"
            },
            "key": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.CreateCountryBudgetRequestModel": {
          "properties": {
            "country": {
              "type": "string"
            },
            "currency": {
              "type": "string"
            },
            "monthly_limit": {
              "type": "number"
            },
            "waived_amount": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "request.DownloadProtectedFileModel": {
          "type": "object",
          "properties": {
            "password": {
              "type": "string"
            }
          }
        },
        "crespwriter.SwaggerDocErrorResponse": {
          "properties": {
            "success": {
              "example": false,
              "type": "boolean"
            },
            "result": {
              "swagger_ref": "#/components/schemas/crespwriter.ErrorDetails"
            }
          },
          "type": "object"
        },
        "response.ActiveSurvey": {
          "properties": {
            "survey": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "type": "object"
        },
        "response.AccountCreateResponse": {
          "properties": {
            "customerId": {
              "type": "string"
            },
            "isdCode": {
              "type": "string"
            },
            "msisdn": {
              "type": "string"
            },
            "parentId": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "subStatus": {
              "type": "string"
            },
            "accountId": {
              "type": "string"
            },
            "bdom": {
              "type": "integer"
            }
          },
          "type": "object"
        },
        "model.CreateCategoryResponseModel": {
          "properties": {
            "category": {
              "swagger_ref": "#/components/schemas/model.CreateCategoryRequestModel"
            },
            "id": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.CreateCategoryRequestModel": {
          "properties": {
            "country": {
              "type": "string"
            },
            "limit_id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "waived_amount": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "request.Addon": {
          "properties": {
            "end_time": {
              "type": "string"
            },
            "product_id": {
              "type": "string"
            },
            "start_time": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.RequestLogs": {
          "properties": {
            "data": {
              "items": {
                "swagger_ref": "#/components/schemas/datastore.CustomerAccountRequestModel"
              },
              "type": "array"
            },
            "total": {
              "type": "integer"
            }
          },
          "type": "object"
        },
        "model.ErrorResponse": {
          "properties": {
            "code": {
              "example": 400,
              "type": "integer"
            },
            "message": {
              "example": "status bad request",
              "type": "string"
            }
          },
          "type": "object"
        },
        "model.CreateWaiverRequestModel": {
          "properties": {
            "customer_status": {
              "type": "string"
            },
            "source": {
              "type": "string"
            },
            "total_value": {
              "type": "number"
            },
            "description": {
              "type": "string"
            },
            "created_agent_id": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "reason": {
              "type": "string"
            },
            "notify_customer": {
              "type": "boolean"
            },
            "updated_agent_id": {
              "type": "string"
            },
            "category_id": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "billing_account_name": {
              "type": "string"
            },
            "end_date": {
              "type": "integer"
            },
            "ban": {
              "type": "string"
            },
            "start_date": {
              "type": "integer"
            },
            "email": {
              "type": "string"
            },
            "customer_number": {
              "type": "string"
            },
            "sub_category_id": {
              "type": "string"
            },
            "value": {
              "type": "number"
            },
            "sin": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.Header": {
          "properties": {
            "dismissButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "text": {
              "type": "string"
            },
            "actionButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "backButton": {
              "swagger_ref": "#/components/schemas/response.Button"
            },
            "buttons": {
              "items": {
                "swagger_ref": "#/components/schemas/response.Button"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "response.StaticField": {
          "properties": {
            "selected": {
              "type": "boolean"
            },
            "value": {
              "type": "string"
            },
            "actionTask": {
              "type": "boolean"
            },
            "id": {
              "type": "string"
            },
            "mediaUrls": {
              "type": "array",
              "items": {
                "swagger_ref": "#/components/schemas/response.MediaUrl"
              }
            },
            "onSelect": {
              "swagger_ref": "#/components/schemas/response.Question"
            }
          },
          "type": "object"
        },
        "model.CreateLevelResponseModel": {
          "properties": {
            "id": {
              "type": "string"
            },
            "level": {
              "swagger_ref": "#/components/schemas/model.CreateLevelRequestModel"
            }
          },
          "type": "object"
        },
        "model.CreateWaiverResponseModel": {
          "properties": {
            "id": {
              "type": "string"
            },
            "waiver": {
              "swagger_ref": "#/components/schemas/model.CreateWaiverRequestModel"
            }
          },
          "type": "object"
        },
        "model.GetLimitResponseModel": {
          "properties": {
            "type": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "id": {
              "type": "string"
            },
            "monthly_limit": {
              "type": "number"
            },
            "name": {
              "type": "string"
            },
            "per_waiver_limit": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "response.GetRoamingLogResponseModel": {
          "properties": {
            "total_count": {
              "type": "integer"
            },
            "items": {
              "items": {
                "swagger_ref": "#/components/schemas/response.GetRoamingLogItemResponseModel"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "request.BillingAddressData": {
          "type": "object",
          "properties": {
            "street": {
              "type": "string"
            },
            "zip": {
              "type": "string"
            },
            "floor": {
              "type": "string"
            },
            "buildingNo": {
              "type": "string"
            },
            "district": {
              "type": "string"
            },
            "unit": {
              "type": "string"
            },
            "buildingName": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "country": {
              "type": "string"
            }
          }
        },
        "request.SetSettingRequestModel": {
          "properties": {
            "account_number": {
              "type": "string"
            },
            "details": {
              "type": "object",
              "properties": {}
            },
            "msisdn": {
              "type": "string"
            },
            "override": {
              "type": "string"
            },
            "prefix": {
              "type": "string"
            },
            "setting": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "queue.MHLRVASMaintenanceRequestBody": {
          "properties": {
            "iccid": {
              "type": "string"
            },
            "serviceInstanceNumber": {
              "type": "string"
            },
            "IMSINo": {
              "type": "string"
            },
            "MSISDN": {
              "type": "string"
            },
            "action": {
              "type": "string"
            },
            "externalRefId": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.QuestionData": {
          "properties": {
            "textArea": {
              "swagger_ref": "#/components/schemas/response.TextFieldData"
            },
            "textBox": {
              "swagger_ref": "#/components/schemas/response.TextFieldData"
            },
            "checkbox": {
              "swagger_ref": "#/components/schemas/response.StaticFieldData"
            },
            "dropdown": {
              "swagger_ref": "#/components/schemas/response.DropdownData"
            },
            "radioGroup": {
              "swagger_ref": "#/components/schemas/response.StaticFieldData"
            },
            "range": {
              "swagger_ref": "#/components/schemas/response.RangeFieldData"
            }
          },
          "type": "object"
        },
        "bson.M": {
          "type": "object"
        },
        "model.CreateLimitResponseModel": {
          "properties": {
            "id": {
              "type": "string"
            },
            "limit": {
              "swagger_ref": "#/components/schemas/model.CreateLimitRequestModel"
            }
          },
          "type": "object"
        },
        "request.AccountStateChangeRequestParams": {
          "properties": {
            "accountNumber": {
              "type": "string"
            },
            "effective": {
              "type": "string"
            },
            "reason": {
              "type": "string"
            },
            "statusType": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.NotificationLogsResponse": {
          "properties": {
            "result": {
              "swagger_ref": "#/components/schemas/response.NotificationsLogsResult"
            },
            "success": {
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "model.CreateSubCategoryRequestModel": {
          "properties": {
            "name": {
              "type": "string"
            },
            "category_id": {
              "type": "string"
            },
            "country": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "response.AccountDetails": {
          "properties": {
            "accountId": {
              "type": "string"
            },
            "emailId": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "bdom": {
              "type": "integer"
            },
            "msisdn": {
              "type": "string"
            },
            "planId": {
              "type": "string"
            },
            "createdAt": {
              "type": "string"
            },
            "billingAddress": {
              "swagger_ref": "#/components/schemas/request.BillingAddressData"
            },
            "parentId": {
              "type": "string"
            },
            "isdCode": {
              "type": "string"
            },
            "imsi": {
              "type": "string"
            },
            "activatedAt": {
              "type": "string"
            },
            "customerId": {
              "type": "string"
[...]
