.background {
  background: linear-gradient(-45deg, #c0ad79, #967216, #edc9af, #cea984);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
